.blogct{
    /* background: salmon; */
    height: 300vw;
    width: 99vw;
    display: flex;
    justify-content: center; /* ย้าย .contantct ไปตรงกลางแนวนอน */
    align-items: center; /* ย้าย .contantct ไปตรงกลางแนวตั้ง */
    height: 80vh; /* ให้ .contactbg มีความสูงเต็มหน้าจอ */
}
.blogbg {
    /* background: skyblue; */
    width: 80%;
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.blogpost {
    background: teal;
    height: 20vw;
    width: 10vw;
    margin-bottom: 100px;
}